{
	"monitorConfig": {
		"monitor-consumer08-test": {
			"consumerState": {
				"consumerOffsetReader": "consumer08",
				"group": "myGroup",
				"targetOffsetReader": "broker",
				"topic": "test"
			},
			"enable": true,
			"observers": ["log"]
		},
		"monitor-spout-test": {
			"consumerState": {
				"consumerOffsetReader": "spout",
				"group": "myGroup",
				"targetOffsetReader": "broker",
				"topic": "test"
			},
			"enable": true,
			"observers": ["log"]
		},
		"monitor-newconsumer-test": {
			"consumerState": {
				"consumerOffsetReader": "newconsumer",
				"group": "myGroup",
				"targetOffsetReader": "broker",
				"topic": "test"
			},
			"enable": true,
			"observers": ["log"]
		},
		"monitor-camus-test": {
			"consumerState": {
				"consumerOffsetReader": "camus",
				"group": "myGroup",
				"targetOffsetReader": "broker",
				"topic": "test"
			},
			"enable": true,
			"observers": ["log"]
		}
	},
	"observerConfig": {
		"log": {
			"type": "log"
		}
	},
	"readerConfig": {
		"newconsumer": {
			"brokers": "spark2:9092",
			"from": "latest",
			"type": "broker-log"
		},
		"spout": {
			"from": "latest",
			"type": "spout",
			"zkPath": "stormetl",
			"zookeeper": "spark2:2181"
		},
		"consumer08": {
			"from": "latest",
			"type": "consumer08",
			"zkPath": "kafka",
			"zookeeper": "spark2:2181"
		},
		"broker": {
			"brokers": "spark2:9092",
			"from": "latest",
			"type": "broker-log"
		},
		"camus": {
			"from": "latest",
			"type": "camus",
			"zkPath": "camus",
			"zookeeper": "spark2:2181"
		}
	}
}